.task-modal__form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.task-modal__field-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #80878f;
}

.task-modal__field {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.task-modal__input{
  flex-grow: 1;
}

.task-modal__desc {
  min-height: 86px;
}

.task-modal__btn {
  margin-top: 20px !important;
}

.false-button {
  height: 56px;
}