@mixin topBorders($radius) {
  border-top-left-radius: $radius ;
  border-top-right-radius: $radius;
}

.column_section {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: flex-start;
  padding: 0 16px;
  @media screen and (max-width: 331px) {
    padding: var(--padding320);
  }
}

.card_column {
  width: 346px;
  min-height: 50px;
  flex-shrink: 0;
  background: var(--containerCardBG);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);

  @media screen and (max-width: 374px){
    width: 300px;
  }
}

.card_title {
  position: relative;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background-color: var(--headerColumnBG);
  @include topBorders(var(--radius))
}

.card_title {
  flex-grow: 1;
  height: var(--headerCardTitleHeight);

  h3 {
    text-align: center;

    font-size: var(--headerCardTitleSize);
    font-weight: var(--headerCardTitleWeight);
    line-height: var(--headerCardTitleLineHeight);
    color: var(--headerCardTitleColor);
  
    cursor: pointer;
  } 
  
  input {
    font-size: var(--headerCardTitleSize);
    font-weight: var(--headerCardTitleWeight);
    line-height: var(--headerCardTitleLineHeight);
    color: var(--headerCardTitleColor);
    box-sizing: border-box!important;
    height: 35px;

  }
}


