.column_section {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: flex-start;
  margin: 20px;
  height: calc(100vh - 275px);
}

.card_column {
  width: 350px;
  min-height: 50px;
  flex-shrink: 0;
}

.card_title {
  display: flex;
  background-color: #106354;
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.card_title h3 {
  flex-grow: 1;
}