.list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	gap: 20px 10px;
	align-items: center;
	justify-items: center;
}

.block {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 40px;
}

.empty {
	text-transform: uppercase;
	color: gray;
	opacity: 0.8;
	font-weight: 600;
}
