.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 250px;
	width: 100%;
	max-width: 300px;
	height: 150px;
	border: none!important;
	border-radius: var(--radius) !important;
	background: var(--containerCardBG)!important;
	
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

	gap: 16px;
	box-shadow: var(--boxShadow);
}


.header {
	background: var(--headerBoardBG);
	color: var(--headerCardTitleColor);
	line-height: var(--headerCardTitleLineHeight);
	font-size: var(--headerCardTitleSize);
	font-weight: var(--headerCardTitleWeight);
	padding: 0 10px;
	svg {
		fill: white;
	}
}

.body {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px;
	margin: 0 10px 10px;
	border-radius: var(--radius);
	background: var(--bodyCardBG);
}

.menu {
	position: absolute;
	right: 10px;
	top: calc((var(--headerCardTitleHeight) - 20px)/4 );
	button {
		padding: 0;
	}
}

.owner {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	height: var(--headerCardTitleHeight);
	user-select: none;
	svg {
		width: 20px;
		height: 20px;
	}
}

.users {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	list-style: none;
	padding: 0;
	
	li { 
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		
		color: #80878F;

	}
}