.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 250px;
	width: 100%;
	max-width: 300px;
	height: 150px;
	border-radius: 6px !important;
	
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

	gap: 20px;
	
}
.header {
	border-top-left-radius: 6x;
	border-top-right-radius: 6x;
	background-color: #1C5A7C;
	color: #F0F0F0;
	line-height: 35px;
	padding: 0 10px;
	svg {
		fill: white;
	}
}

.body {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10px 20px;
}

.menu {
	position: absolute;
	right: 10px;
	top: 0;
	button {
		padding: 0;
	}
}
.owner {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	height: 40px;
	svg {
		width: 20px;
		height: 20px;
	}
}
.users {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	list-style: none;
	padding: 0;
	
	li { 
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		
		color: #80878F;

	}
}