header {
  display: flex;
  align-items: center;
  background-color: var(--backgroundColor);
  z-index: 1 !important;
}

.header {
  display: flex !important;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0 10px;
}

.header__logo {
  margin-right: auto !important;
  font-size: 32px !important;
  font-weight: 800 !important;
  transition: all 0.3s;
  color: var(--hoverLinkColor);
}

.header__navbar {
  display: flex;
  gap: 10px;
  margin-left: 0 !important;
}

.header__nav-link {
  padding: 10px !important;
  padding-left: 0 !important;
}

.search__form {
  margin-left: 0 !important;
  padding: 10px;
}

@media (max-width: 640px) {
  .header {
    gap: 0 10px;
  }
  
  .search__form {
    order: 4;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
