header {
  display: flex;
  align-items: center;
  background-color: var(--backgroundColor);
  z-index: 1 !important;
}

.header {
  display: flex !important;
  height: 100%;
  justify-content: space-between;
  gap: 20px;
}

.header__logo {
  font-size: 32px !important;
  font-weight: 800 !important;
  transition: all .3s;
  color: var(--hoverLinkColor);
}

.header__navbar {
  display: flex;
  margin-left: auto !important;
  gap: 15px;
}
