.footer {
	background: gray;
	height: 50px;
	padding: 1%;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.rss_logo {
	width: 100px;
	height: 50px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	gap: 20px;
}