@import '../node_modules/normalize-scss/sass/normalize';

:root {
  --backgroundColor: #efeff0;
  --linkColor: #388e3c;
  --hoverLinkColor: #1b5e20;
  --headerBoardBG: #1c5a7c;
  --headerColumnBG: #106354;
  --bodyCardBG: #ffffff;
  --containerCardBG: rgba(228, 228, 228, 1);
  --headerCardTitleColor: #ffffff;
  --headerCardTitleWeight: 700;
  --headerCardTitleSize: 14px;
  --headerCardTitleLineHeight: 17px;
  --headerCardTitleHeight: 35px;
  --radius: 6px;
  --padding320: 0 10px;
  --boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  font-weight: 500;
  color: var(--linkColor);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--hoverLinkColor);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f9f9fd;
}

*::-webkit-scrollbar-thumb {
  background-color: #106354;
  border-radius: 5px;
}
