.task_list {
  // overflow-y: scroll;
  max-height: calc(100vh - 400px);
}

.tasklist_container {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
}

.button_add {
  background: var(--bodyCardBG)!important;
  border: transparent;
  justify-content: flex-start!important;
  align-items: center!important;
  box-shadow: var(--boxShadow);
  height: 50px;
  min-width: 250px;
  width: 100%;
}