.task_list {
  overflow-y: auto;
  max-height: calc(100vh - 410px);
}

.task_list::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.task_list::-webkit-scrollbar-thumb {
  background-color: #106354;
  border-radius: 5px;
}

.tasklist_container {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
}

.button_add {
  background: var(--bodyCardBG)!important;
  border: transparent;
  align-items: center!important;
  box-shadow: var(--boxShadow);
  height: 50px;
  min-width: 250px;
  width: 100%;
}